body {
    font-family: fantasy;
    margin: 0;
    padding: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgb(212, 212, 212) 100%);
}
header {
    text-align: center;
    margin-bottom: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}
h1 {
    font-size: 2.5em;
    color: #ffffff;
}
p , a{
    padding: 20px;
    font-size: 125%;
    color: #000000;
    text-align:justify;
   
}
.imagen{
    display: flex;
    justify-content: center;
    align-content: center;
}
img{
    border-radius: 15px;
    border-bottom: #ffffff;
    border-width: 500%;
    border: 5px;
    max-width: 100%;
    min-width: none;
}
.texto{
    background-color:rgb(255, 255, 255);
    border-radius: 4px;
    text-align: center;
    
}

h4{
    font-size: 125%;
    color: #000000;
   
}
#todo{
    padding: 20px;

  border: 3px solid rgb(255, 255, 255);

}
.boton{
    border-width: 5px;
    font-size: 125%;
    font-family: fantasy;
    border-radius: 5px;
    padding: 5px;
    margin:0.5%;
    
    border-color: #000;

}
.menu{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 3px solid rgb(255, 255, 255);
   
}
.personaje {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f4f4f4;
}

